[submodule "IaC-EC2"]
	path = IaC-EC2
	url = https://github.com/joanix2/IaC-EC2
[submodule "RAG-Agent"]
	path = RAG-Agent
	url = https://github.com/joanix2/RAG
[submodule "XML-DSL-Compiler"]
	path = XML-DSL-Compiler
	url = https://github.com/joanix2/XML-DSL-Compiler-Generator
[submodule "XML_DSL_Compiler"]
	path = XML_DSL_Compiler
	url = https://github.com/joanix2/XML-DSL-Compiler-Generator
[submodule "rag"]
	path = rag
	url = https://github.com/joanix2/RAG
[submodule "xml_flow"]
	path = xml_flow
	url = https://github.com/joanix2/XMLFlow.git
